body{
   margin: 0;
}
.background{
   width: 100%;
   height: 100%;
   background-color: #1F2326;
   padding-top: 160px;
   padding-bottom: 160px;
   position: relative;
   z-index: 10;
   overflow: hidden;
}
.background__big_green{
   position: absolute;
   width: 1400px;
   height: 1400px;
   border-radius: 50%;
   background: #34B449;
   top: -40%;
   left: -20%;
   z-index: -1;
}
.background__small_green{
   position: absolute;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: #34B449;
   right: 8%;
   top: 2%;
   z-index: -1;
}
.background__small_white{
   position: absolute;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background: #EFEFEF;
   right: 4%;
   top: 6%;
   z-index: -1;
}
.background__big_grey{
   position: absolute;
   width: 65px;
   height: 65px;
   border-radius: 50%;
   background: #505155;
   right: 1%;
   top: 20%;
   z-index: -1;
}
.background__small_grey{
   position: absolute;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background: #505155;
   left: 3%;
   bottom: 5%;
   z-index: -1;
}
.background__big_white{
   position: absolute;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background: #EFEFEF;
   left: 8%;
   bottom: -13%;
   z-index: -1;
}
.background__big_black{
   position: absolute;
   width: 900px;
   height: 900px;
   border-radius: 50%;
   background: #292C31;
   right: -11%;
   bottom: -23%;
   z-index: -1;
}
.content{
   box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.2);
   width: 1600px;
   margin: 0 auto;
   border-radius: 32px 32px 0px 0px;
}
.header {
   font-family: 'Montserrat', sans-serif;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   width: 1600px;
   margin: 0 auto;
   background-color: #1F2326;
   border-radius: 32px 32px 0px 0px;
}
.header__inner__left{
   width: 65%;
   display: flex;
}
.header__logo {
   display: flex;
}
.logo {
   margin: 15px 35px;
   width: 60px;
   height: 60px;
}
.logo__stick {
   height: 30px;
   width: 2px;
   background-color: #fff;
   margin: auto 100px auto 0;
}
.header__nav {
   display: flex;
   margin: auto 0;
}
.nav__link {
   padding-left: 50px;
   text-decoration: none;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 10px;
   text-transform: uppercase;
}
.nav__link:hover{
   color: #34B449;
}
.header__account {
   display: flex;
   margin: auto 60px auto 0;
}
.account__img {
   width: 32px;
   height: 32px;
   margin-right: 15px;
   border-radius: 50%;
}
.account__name {
   margin: auto 0 auto 0;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 10px;
   text-transform: uppercase;
}
.account__name:hover{
   color: #34B449;
}

/* Квадратики ебаные */

.two-small__first{
   position: absolute;
   display: flex;
   top: 50px;
   left: 220px;
}
.two-small__second{
   position: absolute;
   display: flex;
   bottom: 0px;
   right: 225px;
}
.one-small__first{
   position: absolute;
   top: 265px;
   left: 30px;
}
.one-small__second{
   position: absolute;
   top: 195px;
   left: 910px;
}
.small {
   width: 5px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
   margin-left: 17px;
}
.one-big__first {
   position: absolute;
   top: 45px;
   left: 500px;
}
.one-big__second{
   position: absolute;
   top: 630px;
   left: 600px;
}
.one-big__third{
   position: absolute;
   bottom: 5px;
   right: 25px;
}
.one-big__fourth{
   position: absolute;
   top: 230px;
   left: 1260px;
}
.big {
   width: 25px;
   height: 25px;
   background: #1F2326;
   opacity: 0.5;
}

.long-stick__first {
   position: absolute;
   top: 40px;
   right: 300px;
}
.long_stick {
   width: 165px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
}
.long-stick__secong {
   position: absolute;
   bottom: -20px;
   left: 40px;
}
.short-stick__first {
   position: absolute;
   top: 105px;
   left: 35px;
}
.short_stick {
   width: 30px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
}
.short-stick__second {
   position: absolute;
   top: 105px;
   left: 890px;
}
.short-stick__third {
   position: absolute;
   top: 600px;
   left: 895px;
}
.short-stick__fourth{
   position: absolute;
   top: 450px;
   left: 1330px;
}

.intro{
   font-family: 'Montserrat', sans-serif;
   background-repeat:no-repeat;
   background-position: center center;
   background-image: url(https://cutewallpaper.org/21/minecraft-2560-x-1440/2560x1440-Minecraft-3-1440P-Resolution-HD-4k-Wallpapers-.jpg); /* Фоновый цвет и фоновый рисунок*/;
   width: 1600px;
   margin: 0 auto;
}
.intro__inner{
   width: 100%;
   height: 100%;
   background: rgba(52, 180, 73, 0.85);
   position: relative;
   display: flex;
   justify-content: space-between;
}
.intro__title{
   font-weight: 600;
   font-size: 87px;
   letter-spacing: 5px;
   color: transparent;
   margin-top: 90px;
   margin-left: 70px;
   writing-mode: vertical-lr;
   -webkit-text-stroke: 1px white;
}
.intro__column {
   display: flex;
   margin-top: 65px;
}
.column__item {
   position: relative;
   margin-left: 85px;
}
.column__item:first-child{
   margin-left: 50px;
}
.column__item_img {
   height: 600px;
   width: 270px;
}
.column__item_text {
   font-weight: 600;
   font-size: 40px;
   text-align: center;
   letter-spacing: 0.1em;
   color: transparent;
   position: absolute;
   top: 30px;
   left: -65px;
   writing-mode: vertical-lr;
   -webkit-text-stroke: 1px white;
}

.intro__main{
   background: rgba(52, 180, 73, 0.85);
}
.main__container{
   width: 1700px;
   position: relative;
   left: -140px;
   display: flex;
   top: 70px;
   height: 190px;
}
.main__item {
   display: flex;
   width: 435px;
   height: 170px;

   box-sizing: border-box;
   margin-left: 50px;
   background: linear-gradient(135deg, transparent, transparent 10px, #F8F8F8 10px, #F8F8F8 10px);
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
   position: relative;
   z-index:1;
}
.triangle{
   border-bottom: 1px solid black;
   width:20px;
   height: 20px;
   position:absolute;
   top:-10px;
   left:-10px;
   -webkit-transform: rotate(-45deg);
}
.left_line{
   position: absolute;
   height: 156px;
   border-left: 1px solid black;
   left: 0;
   bottom: 0;
}
.top_line{
   position: absolute;
   width: 421px;
   border-top: 1px solid black;
   right: 0;
   top: 0;
}
.main__item_text {
   width: 235px;
   padding-left: 15px;
   margin-right: 15px;
   padding-top: 15px;
}
.main__item_title {
   font-style: normal;
   font-weight: 500;
   font-size: 23px;
   color: #C4C4C4;
   margin-bottom: 0;
}
.main__item_subtitle {
   margin-top: 10px;
   color: #1F2326;
   padding-left: 6px;
   font-weight: normal;
   letter-spacing: 0.1em;
}
.main__item_img {
   position: relative;
   width: 200px;
}
.main__item_img img{
   height: 100px;
   width: 100px;
   position: absolute;
   top: 30px;
   right: 50px;
}
.main__item_square {
   position: absolute;
   bottom: 0;
   height: 120px;
   width: 120px;
   background: #34B449;
}

.main__enter {
   width: 440px;
   margin-left: 50px;
   height: 170px;
   animation: glowing 1300ms infinite;
   border-radius: 10%;
   background-color: transparent;
}
.main__enter_inner{
   background: linear-gradient(135deg, transparent, transparent 10px, #1F2326 10px, #1F2326 10px);
   border-right: 1px solid #FFFFFF;
   border-bottom: 1px solid #ffffff;
   text-align: center;
   height: 170px;
   position: relative;
}
.main__enter_inner:hover{
   background: linear-gradient(135deg, transparent, transparent 10px, #505155 10px, #505155 10px);
}
.triangle_enter{
   border-bottom: 1px solid white;
   width:20px;
   height: 20px;
   position:absolute;
   top:-10px;
   left:-10px;
   -webkit-transform: rotate(-45deg);
}
.left_line_enter{
   position: absolute;
   height: 156px;
   border-left: 1px solid white;
   left: 0;
   bottom: 0;
}
.top_line_enter{
   position: absolute;
   width: 180px;
   border-top: 1px solid white;
   right: 0;
   top: 0;
}
.enter__img {
   margin-top: 20px;
   width: 90px;
   height: 90px;
}
.enter__text {
   font-weight: 600;
   font-size: 30px;
   text-align: center;
   letter-spacing: 0.1em;
   color: transparent;
   -webkit-text-stroke: 1px #34B449;
   margin: 0;
}
@keyframes glowing {
   0% { background-color: transparent; box-shadow: 0 10px 40px #000; }
   50% { background-color: transparent; box-shadow: 0 10px 60px #49e819; }
   100% { background-color: transparent; box-shadow: 0 10px 40px #000; }
   }


.footer{
   height: 100px;
   background: #F8F8F8;
   width: 1600px;
   margin: 0 auto;
   border-radius: 0px 0px 32px 32px;
}