body{
   margin: 0;
}
.background{
   width: 100%;
   height: 100%;
   background-color: #1F2326;
   padding-top: 160px;
   padding-bottom: 160px;
   position: relative;
   z-index: 10;
   overflow: hidden;
}
.background__big_green{
   position: absolute;
   width: 1400px;
   height: 1400px;
   border-radius: 50%;
   background: #34B449;
   top: -40%;
   left: -20%;
   z-index: -1;
}
.background__small_green{
   position: absolute;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: #34B449;
   right: 8%;
   top: 2%;
   z-index: -1;
}
.background__small_white{
   position: absolute;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background: #EFEFEF;
   right: 4%;
   top: 6%;
   z-index: -1;
}
.background__big_grey{
   position: absolute;
   width: 65px;
   height: 65px;
   border-radius: 50%;
   background: #505155;
   right: 1%;
   top: 20%;
   z-index: -1;
}
.background__small_grey{
   position: absolute;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background: #505155;
   left: 3%;
   bottom: 5%;
   z-index: -1;
}
.background__big_white{
   position: absolute;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background: #EFEFEF;
   left: 8%;
   bottom: -13%;
   z-index: -1;
}
.background__big_black{
   position: absolute;
   width: 900px;
   height: 900px;
   border-radius: 50%;
   background: #292C31;
   right: -11%;
   bottom: -23%;
   z-index: -1;
}
.content{
   box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.2);
   width: 1600px;
   margin: 0 auto;
   border-radius: 32px 32px 0px 0px;
}
.header {
   font-family: 'Montserrat', sans-serif;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   width: 1600px;
   margin: 0 auto;
   background-color: #1F2326;
   border-radius: 32px 32px 0px 0px;
}
.header__inner__left{
   width: 65%;
   display: flex;
}
.header__logo {
   display: flex;
}
.logo {
   margin: 15px 35px;
   width: 60px;
   height: 60px;
}
.logo__stick {
   height: 30px;
   width: 2px;
   background-color: #fff;
   margin: auto 100px auto 0;
}
.logo__text{
   display: none;
}
.header__nav {
   display: flex;
   margin: auto 0;
}
.nav__link {
   padding-left: 50px;
   text-decoration: none;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 10px;
   text-transform: uppercase;
}
.nav__link:hover{
   color: #34B449;
}
.header__nav_menu{
   display: none;
}
.header__account {
   display: flex;
   margin: auto 60px auto 0;
}
.account__img {
   width: 32px;
   height: 32px;
   margin-right: 15px;
   border-radius: 50%;
}
.account__name {
   margin: auto 0 auto 0;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 10px;
   text-transform: uppercase;
   cursor: pointer;
}
.account__name:hover{
   color: #34B449;
}
.header__mobile{
   position: absolute;
   width: 100%;
   /* height: 100%; */
   background-color: #fff;
   top: 0;
   left: -10000px;
   z-index: 100;
   transition: transform 1s;
}
.header__mobile.scroll{
   transform: translateX(3000px);
}
.mobile__header {
   display: flex;
   justify-content: space-between;
}
.mobile__close {
   margin: auto 20px auto 0;
   width: 35px;
   height: 35px;
}
.mobile__stick {
   height: 35px;
   width: 2px;
   background-color: #000;
   margin: auto 20px auto 0;
}
.mobile__text{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 29px;
   line-height: 29px;
   color: #000;
   margin: auto 0 auto 0;
   display: block;
}
.mobile__link {
   display: flex;
   flex-direction: column;
   padding-left: 40px;
}
.link__item {
   margin-top: 30px;
   text-decoration: none;
   color: #000;
   font-size: 24px;
}
.link__item:last-child{
   margin-bottom: 30px;
}
.link__item:hover{
   color: #34B449;
}

/* Квадратики ебаные */

.two-small__first{
   position: absolute;
   display: flex;
   top: 50px;
   left: 220px;
}
.two-small__second{
   position: absolute;
   display: flex;
   bottom: 0px;
   right: 225px;
}
.one-small__first{
   position: absolute;
   top: 265px;
   left: 30px;
}
.one-small__second{
   position: absolute;
   top: 195px;
   left: 910px;
}
.small {
   width: 5px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
   margin-left: 17px;
   animation-name: rotation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.one-big__first {
   position: absolute;
   top: 45px;
   left: 500px;
}
.one-big__second{
   position: absolute;
   top: 630px;
   left: 600px;
}
.one-big__third{
   position: absolute;
   bottom: 5px;
   right: 25px;
}
.one-big__fourth{
   position: absolute;
   top: 230px;
   left: 1260px;
}
.big {
   width: 25px;
   height: 25px;
   background: #1F2326;
   opacity: 0.5;
}

.long-stick__first {
   position: absolute;
   top: 40px;
   right: 300px;
}
.long_stick {
   width: 165px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
}
.long-stick__secong {
   position: absolute;
   bottom: -20px;
   left: 40px;
}
.short-stick__first {
   position: absolute;
   top: 105px;
   left: 35px;
}
.short_stick {
   width: 30px;
   height: 5px;
   background: #1F2326;
   opacity: 0.5;
}
.short-stick__second {
   position: absolute;
   top: 105px;
   left: 890px;
}
.short-stick__third {
   position: absolute;
   top: 600px;
   left: 895px;
}
.short-stick__fourth{
   position: absolute;
   top: 450px;
   left: 1330px;
}

.intro{
   font-family: 'Montserrat', sans-serif;
   background-repeat:no-repeat;
   background-position: center center;
   background-image: url(https://cutewallpaper.org/21/minecraft-2560-x-1440/2560x1440-Minecraft-3-1440P-Resolution-HD-4k-Wallpapers-.jpg); /* Фоновый цвет и фоновый рисунок*/;
   width: 1600px;
   margin: 0 auto;
}
.intro__inner{
   width: 100%;
   height: 100%;
   background: rgba(52, 180, 73, 0.85);
   position: relative;
   display: flex;
   justify-content: space-between;
}
.intro__title{
   font-weight: 600;
   font-size: 87px;
   letter-spacing: 5px;
   color: transparent;
   margin-top: 90px;
   margin-left: 70px;
   writing-mode: vertical-lr;
   -webkit-text-stroke: 1px white;
}
.intro__column {
   display: flex;
   margin-top: 65px;
}
.column__item {
   position: relative;
   margin-left: 85px;
}
.column__item:first-child{
   margin-left: 50px;
}
.column__item_img {
   height: 600px;
   width: 270px;
}
.column__item_text {
   font-weight: 600;
   font-size: 40px;
   text-align: center;
   letter-spacing: 0.1em;
   color: transparent;
   position: absolute;
   top: 30px;
   left: -65px;
   writing-mode: vertical-lr;
   -webkit-text-stroke: 1px white;
}

.intro__main{
   background: rgba(52, 180, 73, 0.85);
}
.main__container{
   width: 1700px;
   position: relative;
   left: -140px;
   display: flex;
   top: 70px;
   height: 190px;
}
.main__item {
   display: flex;
   width: 435px;
   height: 170px;

   box-sizing: border-box;
   margin-left: 50px;
   background: linear-gradient(135deg, transparent, transparent 10px, #F8F8F8 10px, #F8F8F8 10px);
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
   position: relative;
   z-index:1;
}
.triangle{
   border-bottom: 1px solid black;
   width:20px;
   height: 20px;
   position:absolute;
   top:-10px;
   left:-10px;
   -webkit-transform: rotate(-45deg);
}
.left_line{
   position: absolute;
   height: 156px;
   border-left: 1px solid black;
   left: 0;
   bottom: 0;
}
.top_line{
   position: absolute;
   width: 421px;
   border-top: 1px solid black;
   right: 0;
   top: 0;
}
.main__item_text {
   width: 270px;
   padding-left: 15px;
   padding-top: 15px;
}
.main__item_title {
   font-style: normal;
   font-weight: 500;
   font-size: 23px;
   color: #C4C4C4;
   margin-bottom: 0;
}
.main__item_subtitle {
   margin-top: 10px;
   color: #1F2326;
   padding-left: 6px;
   font-weight: normal;
   letter-spacing: 0.1em;
}
.main__item_img {
   position: relative;
   width: 200px;
}
.main__item_img img{
   height: 100px;
   width: 100px;
   position: absolute;
   top: 30px;
   right: 50px;
}
.main__item_square {
   position: absolute;
   bottom: 0;
   height: 120px;
   width: 120px;
   background: #34B449;
}

.main__enter {
   width: 440px;
   margin-left: 50px;
   height: 170px;
   animation: glowing 1300ms infinite;
   border-radius: 10%;
   background-color: transparent;
}
.main__enter_inner{
   background: linear-gradient(135deg, transparent, transparent 10px, #1F2326 10px, #1F2326 10px);
   border-right: 1px solid #FFFFFF;
   border-bottom: 1px solid #ffffff;
   text-align: center;
   height: 170px;
   position: relative;
}
.main__enter_inner:hover{
   opacity: 0.95;
}
.triangle_enter{
   border-bottom: 1px solid white;
   width:20px;
   height: 20px;
   position:absolute;
   top:-10px;
   left:-10px;
   -webkit-transform: rotate(-45deg);
}
.left_line_enter{
   position: absolute;
   height: 156px;
   border-left: 1px solid white;
   left: 0;
   bottom: 0;
}
.top_line_enter{
   position: absolute;
   width: 180px;
   border-top: 1px solid white;
   right: 0;
   top: 0;
}
.enter__img {
   margin-top: 20px;
   width: 90px;
   height: 90px;
}
.enter__text {
   font-weight: 600;
   font-size: 30px;
   text-align: center;
   letter-spacing: 0.1em;
   color: transparent;
   -webkit-text-stroke: 1px #34B449;
   margin: 0;
}
@keyframes glowing {
   0% { background-color: transparent; box-shadow: 0 10px 40px #000; }
   50% { background-color: transparent; box-shadow: 0 10px 60px #49e819; }
   100% { background-color: transparent; box-shadow: 0 10px 40px #000; }
   }

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.footer{
   height: 100px;
   background: #F8F8F8;
   width: 1600px;
   margin: 0 auto;
   border-radius: 0px 0px 32px 32px;
}
.footer__text{
   display: none;
}

/* ПОПАП */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.clean_form_block * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clean_form_block *:before, .clean_form_block *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay_clean {
    background: rgba(0, 0, 0, 0.6);;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 99;
}

.clean_form_block {
    font-family: 'Open Sans', sans-serif;
    visibility: visible;
    display: none;
}

.clean_form {
    width: 395px;
    margin: 100px auto 140px auto;
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 999;
}

.clean_form_block.show_form .clean_form {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1 !important;
    visibility: visible !important;
}

.border_top_clean_form {
   width: 100%;
   height: 6px;
   float: left;
   background: #23c659;
   border-radius: 4px 4px 0 0;
}

.clean_forms {
    clear: both;
}

.body_clean_form {
    background: #fff;
    position: relative;
}

.title_clean_form {
    font-weight: 700;
    font-size: 24px;
    color: #464646;
    padding: 24px 0 0 27px;
}

.description_clean_form {
    font-size: 14px;
    color: #666;
    padding: 0 29px 0 28px;
    line-height: 16px;
}

.border_clean_form_1 {
    border-bottom: 1px solid #e4e4e4;
    margin: 18px 0 0 0;
}

.input_name_clean_form {
    font-size: 14px;
    color: #666;
    padding: 22px 0 4px 3px;
}

.f_input_clean_form {
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 49px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1) inset;
    padding: 0 15px;
    color: #666 !important;
    font-size: 18px;
    transition: .2s;
    background: #fff !important;
}

.f_input_clean_form:focus {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1) inset,  0px 0px 4px 0px rgba(49, 177, 226, .8);
    border: 1px solid #31b1e2;
    transition: .2s;
}

.form_block_clean_form {
    padding: 3px 29px 25px 29px;
}

.politik {
    font-size: 14px;
    color: #666;
    line-height: 16px;
    padding: 24px 0 0 0
}

.politik a {
    color: #666;
    text-decoration: none;
    cursor: default;
}

.politik a:hover {
    color: #666;
    cursor: default;
    border-bottom: 0;
    text-decoration: none;
}

.fbutton_clean_form {
    display: block;
    height: 45px;
    border: 0;
    border-bottom: 2px solid #23c659;
    border-radius: 4px;
    background: #23c659;
    color: #fff;
    text-shadow: 0 1px 0 #2969b0;
    font-weight: 700;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 24px 0 0 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 205px;
    cursor: pointer;
}
.fbutton_clean_form:hover{
   opacity: 0.8;
}

.footer_clean_form div {
    height: 4px;
    width: 100%;
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.footer_clean_form span{
    background: #fff;
    display: block;
}

#result-registration font {
    font-size: 12px;
    display: block;
    margin: 5px 0 -4px 0;
}

#result-registration font li {
    list-style-type: none;
}

.close_clean_form {
    position: absolute;
    top: 10px;
    right: -40px;
    cursor: pointer;
    z-index: 150;
    background-size: cover !important;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: .2s;
}

.close_clean_form:hover {
    opacity: 0.8;
    transition: .2s;
}

.validation_ok {
    display: block;
    border-radius: 4px;
    border: 1px dashed #ddd;
    padding: 11px 14px;
    margin: 15px;
}

.validation_ok div {
    padding: 8px 0 0 0;
}

.validation_ok a {
    color: #2c82c9;
    text-decoration: underline;
}

.validation_ok a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
   body{
       zoom: 80%;
   }
}

@media screen and (max-width: 1400px) {
   body{
       zoom: 70%;
   }
}
@media screen and (max-width: 1300px) {
   body{
       zoom: 65%;
   }
}

@media screen and (max-width: 1200px) {
   body{
       zoom: 60%;
   }
}

@media screen and (max-width: 1100px) {
   body{
       zoom: 55%;
   }
}
@media screen and (max-width: 1000px) {
   .header__mobile{
      left: -3000px;
   }
   .header__nav{
      display: none;
   }
   .logo__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #fff;
      margin: auto 0 auto 0;
      display: block;
   }
   .logo__stick{
      margin: auto 20px auto 0;
   }
   .header__account{
      display: none;
   }
   .header__nav_menu{
      font-size: 40px;
      color: #fff;
      text-decoration: none;
      margin: auto 40px auto 0;
      display: block;
   }
   .content{
      width: 100%;
   }
   .header__inner{
      width: 100%;
      border-radius: 0px 0px 0px 0px;
   }
   .intro{
      width: 100%;
   }
   .intro__title{
      display: none;
   }
   .main__container{
      margin: 0 auto;
      padding-bottom: 50px;
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      position: static;
   }
   .main__item {
      margin: 30px auto 0 auto;
      width: 100%;
   }
   .main__item:nth-of-type(2) {
      flex-direction: row-reverse;
   }
   .main__item_img:nth-of-type(2){
      margin-left: 40px;
   }
   .main__enter{
      display: none;
   }
   .intro__column{
      flex-wrap: wrap;
      width: 500px;
      margin: 50px auto 30px auto;
   }
   .column__item{
      margin: 40px 0 0 0;
      width: 100%;
      text-align: center;
   }
   .column__item:first-child {
      margin-left: 0px;
  }
  .column__item_img{
     width: 100%;
     height: 200px;
  }
  .background{
   padding-top: 0;
   padding-bottom: 0;

   }
   .background-figure{
      display: none;
   }
   .intro__squares{
      display: none;
   }
   .column__item_text {
      font-size: 50px;
      top: -80px;
      left: 0;
      writing-mode: lr-tb;
   }
   .top_line{
      width: 484px;
   }
   .footer{
      width: 100%;
      border-radius: 0px 0px 0px 0px;
      display: flex;
   }
   .footer__text{
      display: block;
      font-size: 24px;
      margin: auto;
   }
   
}